---
layout: home
---
<div class="posts">
	{% for post in paginator.posts %}
	<section class="post">
		<header class="post__header">
			<h3 class="center">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</h3>
			<span class="post__meta">
				Posted on {{ post.date | date: "%b %-d, %Y" }} by <a href="//twitter.com/elboman" target="_blank">Marco Botto</a>
			</span>
		</header>
		<div class="post__content center">
			<p>
				{{ post.content | strip_html | truncatewords: 35 }}
			</p>
		</div>
		<div class="post__button center">
			<a href="{{ post.url }}" class="button" title="Read {{ post.title }}">
				Continue reading
				<img class="continue-reading-icon" src="{{ site.baseurl }}static/img/icons/next.svg" alt="{{ post.title }}">
			</a>
		</div>
	</section>
	{% endfor %}
</div>

{% if paginator.total_pages > 0 %}
<div class="pagination">
	<ul>
		<li id="pagination-prev">
			{% if paginator.previous_page %}
			<a class="pagination-button" href="{{ paginator.previous_page_path }}">
				<img src="{{ site.baseurl }}static/img/icons/prev.svg" alt="">
			</a>
			{% else %}
			<span>
				<img src="{{ site.baseurl }}static/img/icons/prev.svg" alt="">
			</span>
			{% endif %}
		</li>

		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<li>
			<span id="current-page">{{ page }}</span>
		</li>
		{% elsif page == 1 %}
		<li>
			<a href="/">{{ page }}</a>
		</li>
		{% else %}
		<li>
			<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		</li>
		{% endif %}
		{% endfor %}

		<li id="pagination-next">
			{% if paginator.next_page %}
			<a class="pagination-button" href="{{ paginator.next_page_path }}">
				<img src="{{ site.baseurl }}static/img/icons/next.svg" alt="">
			</a>
			{% else %}
			<span>
				<img src="{{ site.baseurl }}static/img/icons/next.svg" alt="">
			</span>
			{% endif %}
		</li>
	</ul>
</div>
{% endif %}
