<p class="small-title center">USER INTERFACE<br>DESIGNER &amp; DEVELOPER</p>

<p class="center">
    Lead Front End Developer <a href="http://www.kuldat.com">@Kuldat</a>.<br>
    JavaScript/ES6, React, Angular enthusiast.<br>
    <a href="http://www.twitter.com/elboman">Follow me on twitter</a>
</p>

<nav class="main-menu">
    <ul>
        <a href="{{ site.baseurl }}/"><li>posts</li></a>
        <!-- <li><a href="{{ site.baseurl }}/projects.html">PROJECTS</a></li> -->
    </ul>
</nav>

<!--
<p>I'm <strong>{{ site.author }}</strong>, a Fullstack JavaScript Developer and UI/UX Designer.<br>
I develop custom web experiences and I turn complex interaction problems into clean and intuitive interface designs.<br>
Have a look at some of my working <a href="{{ site.baseurl }}/projects.html"> projects</a>.<br>
Contact me at <a href="http://twitter.com/{{ site.twitter }}">@{{ site.twitter }}</a> or by <a href="mailto:{{ site.email }}">email</a>.</p>
{% include social.html %}
-->

<!-- <p class="center"><img class="avatar" src="{{ site.baseurl }}/static/img/{{ site.avatar }}"></p> -->
