<div class="mw9 ph3-ns pb4-l b--black-30 tc tl-l">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-50-l pa2 tc tl-l">
      <div class="pt0 pt4-l dib dt-l">
        <div class="dib dtc-l tc v-mid pr4-l w4 mb2 mb0-l">
          <img src="http://gravatar.com/avatar/0f9726012ff80c211e3108d23910ed17?s=400" class="br-100 b--black-10 w4" alt="avatar">
        </div>
        <div class="dtc-l v-mid">
          <h4 class="f4 f3-l lh-title mt0 mb0 mid-gray">Marco Botto</h4>
          <h5 class="f6 mid-gray tracked ttu mt0 tracked">UI DESIGNER &amp; ENGINEER</h5>
          <p class="mt0 mb0 f4 athelas">
            OSS lover &amp; <a href="https://www.github.com/ui-router/react" class="link underline mid-gray fw8">UI-Router React</a> maintainer.<br>
            JavaScript/ES6, React &amp; Angular.<br>
          </p>
        </div>
      </div>
    </div>
    <div class="fl w-100 w-50-l pa2 pl3">
      <div class="pt4 dt-l">
        <ul class="list main-menu pl0 ml0 mt0">
          <li><a class="f6 link br-pill ph3 pv2 mb2 dib mid-gray bg-white b tracked" href="/">POSTS</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>