<p>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://ilmiosupereroe.it" target="_blank">IlmioSupereroe.it</a></strong>
	- Home-service online marketplace built with Angular.js and Materializecss for a startup based in Milan.
</p>
<p>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://wouses.com" target="_blank">Wouses.com</a></strong>
	- Short term home rental web application for a startup based in Milan. I helped building the Front-end with Angular.js/jQuery.
</p>
<p>
	<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.marcosymarcos.com" target="_blank">Marcosymarcos.com</a></strong>
	- Company website for Marcos y Marcos, an independent Italian publishing house based in Milan founded in 1981. Developed in WordPress, jQuery and Angular.js.
</p>
<p>
	<i class="fa fa-mobile"></i>&nbsp;&nbsp;<strong><a href="http://www.ocio.li/alto-ui/">Alto App (iOS)</a></strong>
	- User Interface for iOS application designed for Alto Technologies Ltd. based in London.
</p>
