$small-media: "screen and (max-width: 600px)";

$bg-color: #e6e6e6;

body {
    padding-top: 60px;
    background-color: $bg-color;
    color: #111;
    font-size: 1.7em;
}

a, a:visited, a:hover {
    color: #111;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p a {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

nav > ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0;

    li {
        display: inline-block;
        padding: 10px 20px;
        margin: 0px;
        border-left: 1px solid $bg-color;

        text-transform: uppercase;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        font-weight: 600;
    }

    a:first-child li {
        border-left: 0px solid $bg-color;
    }
}

footer {
    margin-top: 20px;
}

.small-title, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.9rem;
}

.center {
    text-align: center;
}

$avatar-size: 140px;
.avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: $avatar-size / 2;
    overflow: hidden;
}

.container {
    width: 100%;
}

.main-menu {
    margin-top: 60px;
    background-color: #fbfbfb;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid $bg-color;
}

.main-content {
    margin-top: 0px;
    background-color: #fbfbfb;
    padding: 60px 55px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media #{$small-media} {
        padding: 60px 30px 30px;
    }
}

section.post:not(:last-child) {
    margin-bottom: 60px;
}

.post__header h3 {
    line-height: 4rem;
}

.post__meta {
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.post__button a {
    text-align: center;
    position: relative;;
    padding-right: 45px;
}

.continue-reading-icon {
    width: 25px;
    position: absolute;
    top: 50%;
    margin-top: -12.5px;
}

.pagination {
    margin-top: 10px;
    text-align: center;

    ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    ul li {
        font-size: 18px;
        list-style: none;
        display: inline-block;

        img {
            width: 20px;
            height: 20px;
            position: relative;
            top: 5px;
        }
    }
}

.social > a {
    margin: 0px 2.5px;
    color: #636363;
    font-size: 20px;
}

.img-right {
    width: 33%;
    float: right;
    margin-left: 10%;
    @media #{$small-media} {
        width: 50%;
    }
}

.img-left {
    width: 33%;
    float: left;
    margin-right: 10%;
    @media #{$small-media} {
        width: 50%;
    }
}