---
layout: layout
---

<div class="post-wrapper">
	<div class="blog-post">
		<h1 class="center">
			<strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
			</h1>
	</div>
	<div class="blog-title">
		<h5 class="center"><small>
		{{ page.date | date: "%B %e, %Y" }}
			&nbsp;&nbsp;
		</small></h5>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
				{{ content }}
				 <hr>
				 <div class="related-posts">
					 <h5>Related Posts</h5>
					 <ul class="related-post">
					 	{% for post in site.related_posts limit:3 %}
							<li><strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong><br><small>{{ post.date | date: "%B %d, %Y" }}</small></li>
						{% endfor %}
					 </ul>					
				 </div>
			</div>
		</div>
	</div>
	{% include disqus.html %}
</div>
{% for js in page.jsinclude %}
<script>
	{% include {{js}} %}
</script>
{% endfor %}
